:root {
  --color1: #4c495d; /*gray -- resume background*/
  --color2: #bf94e4; /*light purple -- background*/
  --color3: #2d283e; /*dark gray -- headers, descriptions*/
  --color4: #802bb1; /*dark purple -- topnav*/
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  margin: 0;
  font-size: 17px;
  font-family: 'Karla', sans-serif;
  line-height: 20pxs;
  background-color: var(--color2);
  text-align: center;
}

h {
  color: var(--color3);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/********************** TOP NAVIGATION **********************/
.topnav {
  overflow: hidden;
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

.topnav a {
  color: var(--color4);
  padding: 20px ;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.menu-button {
  display: block;
  cursor: pointer;
  padding-right: 25px;
  padding-top: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.menu-button:hover {
  opacity: 0.5;
}

/* menu-button bars and transitions */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--color2);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.overlay #menu {
  display: none;
  position: fixed;
  text-align: center;
  z-index: 1;
  color: var(--color2);
  text-decoration: none;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #fafafa;
  background-color: rgba(255,255,255,0.9);
  list-style: none;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  width: auto;
  right: 0;
  transition: .4s
}

.topnav li {
  padding: 10px 100px 10px 100px;
  text-align: center;
}

.topnav li:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 700px){
  .topnav {
    width: 100%;
  }
}

@media only screen and (max-width: 400px){
  .overlay #menu {
    width: 100%;
  }

  .topnav li {
    padding: 10px 0 10px 0;
    text-align: center;
  }
}

/********************** INTRO **********************/
.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color2);
}

.arrow {
  padding: 7px;
  height: 30px;
  width: 30px;
  bottom: 0;
  fill: white;
  transition: .4s
}

.arrow:hover {
  padding: 7px;
  text-align: center;
  text-decoration: none;
  margin: 0;
  border-radius: 50%;
  background-color: white;
  fill: var(--color2);
}

/********************** ABOUT **********************/
.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about table {
  table-layout: fixed;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: display;
}

.about td {
  padding:10px;
}

.small-img {
  max-width: 175px;
  width: 100%;
  filter: grayscale(100%);
  transition: .4s
}

.small-img:hover {
  filter: grayscale(0%);
  cursor: pointer;
  transform: scale(1.1)
}

.large-img {
  width: 400px;
  width: 100%;
  transition: .4s
}

.large-img:hover {
  filter: grayscale(0%);
  cursor: pointer;
  transform: scale(1.1)
}

@media screen and (max-width:860px) {
  .about table {
    width: 90%;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: white; /* Fallback color */
  background-color: rgba(255,255,255,0.9); /* Black w/ opacity */
}

.modal-center {
  width: 100%;
  height: 100%;
}

.modal-row {
  clear: both;
  overflow: auto;
  margin: auto;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-box {
  width: 45%;
  float: left;
  margin: 20px;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 400px;
}


/* Caption of Modal Image */
#caption {
  margin: auto;
  text-align: center;
  width: 80%;
  color: black;
  padding: 10px 0;
}

/* Add Animation */
.modal-content, #caption {  
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--color2);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 920px){
  .modal-content {
    width: 100%;
  }
  .modal-box {
    width: 90%;
  }
}

/********************** RESUME **********************/
.resume {
  height: auto;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume-background {
  border-radius: 30px;
  padding: 20px;
  background-color: var(--color1);
  margin-top: 20px;
  width: 70%;
  text-align: left;
  max-width: 750px;
}

.section-header {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #CEC8C8;
  font-size: 11px;
  text-transform: uppercase;
  padding-left: 70px;
}

.section {
  margin-bottom: 60px;
}

.section-text {
  margin-left: 70px;
}

img.icon {
  width: 60px;
  height: 60px;
  float: left;
  display: block;
  padding-right: 10px;
  z-index: 0;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);   /*For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
  -webkit-transition: all .4s ease;
}

img.icon.link:hover {
  opacity: 0.6;
}

.right {
  float: right;
}

.center-skills {
  margin: auto;
  width: 75%;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 598px;
  padding: auto;
}

.skills div {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-bottom: 40px;
  margin-top: 0px;
}

.skills svg {
  fill: white;
}

.skills p {
  padding: 0;
  margin: 5px;
  text-align: center;
}

@media screen and (max-width:702px) {
  .resume-background {
    width: 80%;
  }
  
  .right {
    display: none;
  }
}

@media screen and (max-width:931px) {
  .center-skills {
    margin: auto;
    width: 90%;
  }
}

@media screen and (max-width:870px) {
  .center-skills {
    margin: 0px;
    width: 100%;
  }
}

/********************** WORK **********************/
.work {
  height: auto;
  padding-top: 80px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 1024px;
  margin: 0 auto;
}

.work img {
  width: 100%;
  object-fit: cover;
  transition: .4s;
}

.work img:hover {
  transform: scale(1.1); 
}

.work p {
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
  line-height: 24px;
}

.inner .row {
  clear: both;
}

.polaroid {
  width: 45%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  color: var(--color3);
  overflow: hidden;
  display: inline-block;
  margin: 20px;
  line-height: 0px;
}

.first-polaroid {
  width: 94.5%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: var(--color3);
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin: 20px;
}

.first-polaroid-sq {
  display: none;
}

.polaroid-box {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.container {
  text-align: center;
  padding: 20px 20px;
  overflow: visible;
  height: auto;
}

/********Modal Slideshow**********/

/* The Modal (background) */
.modal-slideshow {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: white; /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}

.slideshow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slideshow table {
  table-layout: fixed;
  width: 90%;
  border: display;
  max-width: 651.2px;
}

.slideshow img {
  vertical-align: middle;
  width: 100%;
}

/* Position the image container (needed to position the left and right arrows) */
.slideshow-container {
  position: relative;
  max-width: 600px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: var(--color2);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: var(--color1);
  border-radius: 7px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--color1);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: var(--color1);
  padding: 20px;
  color: white;
}

/* Add a transparency effect for thumnbail images */
.thumbnail {
  opacity: 0.6;
}

.active,
.thumbnail:hover {
  opacity: 1;
}

@media screen and (max-width:860px) {
  .polaroid {
    width: 90%;
  }
 
  .first-polaroid-rect {
    display: none;
  }

  .first-polaroid-sq {
    display: block;
  }
}

/********************** FOOTER **********************/
footer {
  width: 100%;
  bottom: 0;
  background: #fafafa;
  padding-bottom: 2.5rem;
  height: 2.5rem;
  text-align: center;
  color: #b1b1b1;
  line-height: 20px;
  font-size: 25px;
  position: absolute;
}

.fa {
  padding: 10px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 0;
  border-radius: 50%;
  background: var(--color2);
  color: white;
}

.fa:hover {
 opacity: .5;
}

#copyright {
  font-size: 12px;
  background-color: #fafafa;
  padding-bottom: 5px;
}

#page-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}