body {
  color: white;
  margin: 0;
  font-size: 17px;
  font-family: 'Karla', sans-serif;
  line-height: 20pxs;
  background-color: #ccbcdc;
  text-align: center;
  padding-top: 60px;
}

.mobile-topnav {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

.mobile-topnav a {
  color: #BC90E0;
  padding: 20px ;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.menu-button {
  display: block;
  cursor: pointer;
  padding-right: 25px;
  padding-top: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.menu-button:hover {
  opacity: 0.5;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ccbcdc;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.overlay #menu {
  display: none;
  position: fixed;
  text-align: center;
  z-index: 1;
  color: #BC90E0;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #fafafa;
  background-color: rgba(255,255,255,0.6);
  list-style: none;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  width: auto;
  right: 0;
}

.menu-h1 {
  padding: 10px 100px 10px 100px;
  text-align: center;
}

.menu-h1:hover {
  opacity: 0.5;
}

h {
  color: gray;
  padding: 10px ;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.fa {
  padding: 10px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 0;
  border-radius: 50%;
  background: #ccbcdc;
  color: white;
}

.fa:hover {
 opacity: .5;
}

.copyright {
  font-size: 12px;
  background-color: #fafafa;
  padding-bottom: 5px;
}

footer{
  width: 100%;
  bottom: 0;
  background: #fafafa;
  height: 2.5rem;
  text-align: center;
  color: #b1b1b1;
  padding-bottom: 2.5rem;
  line-height: 20px;
  font-size: 25px;
  position: absolute;
}

#page-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}